name: ci.uffs.cc
on:
  push:
    branches:    
      - master
      - dev
env:
  CI_HOST: ci.uffs.cc
  CI_WEB_DIRECTORY: /home/ccuffsci/ci.uffs.cc/ccuffs-hacktoberfest-monitor
  CI_WEB_URL: https://ci.uffs.cc/ccuffs-hacktoberfest-monitor
jobs:
  build-deploy-audit:
    name: Build, deploy and audit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '8.10'
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Build app
      run: |
        sudo npm install
        sudo npm run build
    - name: Prepare deploy server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ env.CI_HOST }}
        username: ${{ secrets.CI_USERNAME }}
        password: ${{ secrets.CI_PASSWORD }}
        script: |
          mkdir -p ${{ env.CI_WEB_DIRECTORY }}/${{ steps.extract_branch.outputs.branch }}/${{ github.sha }}
          mkdir -p ${{ env.CI_WEB_DIRECTORY }}/${{ steps.extract_branch.outputs.branch }}/${{ github.sha }}/_report
    - name: Deploy site via SSH
      uses: garygrossgarten/github-action-scp@release
      with:
        local: ${{ github.workspace }}/public/
        remote: ${{ env.CI_WEB_DIRECTORY }}/${{ steps.extract_branch.outputs.branch }}/${{ github.sha }}/
        host: ${{ env.CI_HOST }}
        username: ${{ secrets.CI_USERNAME }}
        password: ${{ secrets.CI_PASSWORD }}
    - name: Summary
      run: |
        echo "Summary:"
        echo " Live URL: ${{ env.CI_WEB_URL }}/${{ steps.extract_branch.outputs.branch }}/${{ github.sha }}"